* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --ancho80: 80%;
    --ancho100: 100%;
    --colorprimario: black;
}

/* ------------ORDENAMIENTO------------ */
.dflex {
    display: flex;
}

.centrar {
    justify-content: center;
    align-items: center;
}


/* --------------FIN ORDENAMIENTO--------------- */



#contenedor {

    min-height: 100vh;
    /*vh: viewport height
    -vw:viewport width*/
    width: 100%;
    background-color: lightgrey;
    padding: 5px;
}

header {
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    /* FLEXBOX */
    justify-content: space-between;
    align-items: center;

    & .logo {
        height: 30px;
        width: 100px;
        background-color: rgb(179, 255, 0);
        display: flex;
        justify-content: space-around;
        align-items: center;

        & span:first-child {
            /*primero del mismo tipo*/
            font-size: 20pt;
        }

        & span:nth-child(2) {
            color: white;
        }

    }

    & .botonera {
        height: 30px;

        & a {
            text-decoration: none;
            font-size: 16pt;
            padding: 5px 15px;
            background-color: rgb(174, 173, 230);
            border-radius: 6px;
        }

        & a:hover {
            box-shadow: 0px 0px 15px black;

        }
    }
}

main {
    width: var(--ancho80);
    margin: auto;
}

#banner {
    height: 200px;
    width: 100%;
    background-color: rgb(122, 202, 255);
    position: relative;

}

.imagenbanner {
    width: 100%;
    height: 100%;
    background-color: deeppink;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.texto {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: hotpink;
    padding: 5px;
}


.divider {
    height: 250px;
    width: 100%;

    .divider {
        height: 3px;
        width: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.247) 0%, rgb(255, 0, 119) 50%, rgba(255, 255, 255, 0) 100%);
    }
}

#descript {
    height: 250px;
    width: 100%;
    background-color: rgb(250, 192, 255);


    & .ancho50 {
        width: 50%;
        height: 100%;
        background-color: blueviolet;
        border: dotted 2px red;
        color: bisque;
        font-size: 14px;
        overflow: hidden;

    }
}

.position_abs {
    position: absolute;
}

.position_rel {
    position: relative;
}

.blanco {
    background-color: azure;
}

.parrafito {
    position: absolute;
    width: 70%;
    height: 80%;
    right: 10px;
    bottom: 10px;
    background-color: rgb(210, 135, 224);

    & span {
        position: absolute;
        font-size: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;
        top: -5px;
        left: -10px;
    }

    & span:nth-child(2) {
        color: rgb(226, 43, 211);
        bottom: -20px !important;
        right: -20px !important;
        top: 80%;
        left: 90%;
    }
}

#article {
    height: 300px;
    width: 100%;
    background-color: rgb(238, 205, 144);
}

#nosotros {
    height: 50px;
    width: 100%;
    background-color: rgb(221, 230, 173);
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}