*{
padding: 0; margin: 0;
 box - sizzing:border-box: 

}
:root{
    --ancho80: 80%;
    --ancho100: 100%;
    --colorprimario: black;
}
/* ------------ORDENAMIENTO------------ */
.dflex{
    display:flex;
}
.centrar{
    justify-content:center;
    align-items:center;
}


/* --------------FIN ORDENAMIENTO--------------- */



#contenedor{
    
    min-height: 100vh; /*vh: viewport height
    -vw:viewport width*/ 
    width: 100%;
    background-color: lightgrey;
    padding: 5px;
}
header{
    height: 60px;
    width:100%;
    background-color: white;
    display: flex;/* FLEXBOX */
    justify-content: space-between;
    align-items:center;

& .logo {
    height: 30px; width: 100px;
      background-color: rgb(179, 255, 0);
      display:flex;
      justify-content:space-around;
      align-items:center;

    & span:first-child{/*primero del mismo tipo*/
        font-size:20pt;
    }
    & span:nth-child(2){
        color:white;
    }

}
& .botonera{
    height: 30px;
    & a{
        text-decoration:none;
        font-size:16pt;
        padding: 5px 15px;
        background-color:rgb(174, 173, 230);
        border-radius: 6px;
    }
    & a: hover{
        box-shadow:0px 0px 15px black;

    }
}
}

main{
    width: var(--ancho80);
    margin: auto;
}
#banner{
    height:200px;
    width: 100%;
    background-color:rgb(122, 202, 255);
}

#descript{
height:150px;
width:100%;
background-color: rgb(250, 192, 255);
}

#article{
    height: 300px;
    width:100%;
    background-color: rgb(238, 205, 144);
}
#nosotros{
    height: 50px;
    width:100%;
    background-color: rgb(230, 175, 173); 
}