* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*------colores--------*/
.rojo{background-color: red;}
.azul{background-color: blue;}
.negro{background-color: black;}
.blanco{background-color: white;}
.verde{background-color: green;}
/*-----fin de los colores-----*/

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    display: grid;
    place-items: center;
}


.producto {
    width: 400px;
    height: 80%;
    background-color: rgb(220, 151, 230);
    box-shadow: 0 0 15px rgb(231, 204, 146);
    /*da sombra*/
    border-radius: 14px;
    /*bordes redondiados*/
    overflow: hidden;

    .header_prod {
        border-radius: 5px 5px 0 0;
        height: 40px;
        width: 100%;
        background-color: rgb(235, 72, 162);
    }
}

.main_prod {
    height: calc(100% - 40px);
    width: 100%;
    background-color: bisque;

    .imagen_prod {
        height: 60%;
        width: 100%;
        background-color: #FFC0CB;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;

        li {
            height: 30px;
            width: 30px;
            border-radius: 100%;
         
        }
    }

    ul.talles li{
        height: 40px;
        width: 40px;
        border: solid 2px white;
        display: grid;
        place-items: center;
    }

    .desc_prod {
        height: 40%;
        width: 100%;
        background-color: #FFDEE9;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        input[type=submit]{
            width: 100%;
            padding: 5px 10px;
            border-radius: 14px;
            cursor: pointer;
            border: none;
        }

        input[type=submit]:hover{
            background-color: rgb(231, 141, 231);
            color: rgb(157, 227, 230);
        }
    }
}